
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Stint+Ultra+Condensed&display=swap');

*{
    box-sizing: border-box;
  margin: 0px;
  padding: 0px;
    --navcolor:#e74c3c;
    
  
}
  /* font-family: 'Oswald', sans-serif;
 font-family: 'Roboto', sans-serif;
 font-family: 'Stint Ultra Condensed', cursive; */
body{
    margin-right: 0px;
   overflow-x: hidden;
}
.navdiv{
    background: var(--navcolor);
    padding: 1rem;
    
}
.navdiv ul li{
    margin-left:2rem;
}

.nav{
    margin-right: 10rem;
    
}
.navdiv ul li a{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    font-family: roboto;
}
.navdiv ul li:hover{
    background: white;
    color: #C43C43;
    border-radius: 1rem;
}
.navdiv ul a:hover{
    color: var(--navcolor);
}
.nav-item .dropdown-menu a{
    color:var(--navcolor) ;
}
.navdiv ul h1{
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    color: skyblue;
    font-weight: bolder;
}
.icon{
    color:  skyblue;
    font-size: 2.5rem;
    font-weight: bolder;
}
.logo-div{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 10rem;
}
.greeting-div{
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 100%;
}
.img-div img{
   height: 40rem;
    width: 45rem;
    border: none;
    outline: none;
}
.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.text-center h1{
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    color: var(--navcolor);
}
.text-center h4{
    color:black ;
}
.text-center button{
    background: var(--navcolor);
    width: 9rem;
    height: 4rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 3rem;
    margin: 1rem 0 0 27rem;
    position: relative;
      overflow: hidden;
      transition: all .5s linear;
      z-index: 1;
      font-weight: bold;
      font-size: 1.4rem;
}

 .container .chief{
     display: inline-block;
     margin-left: 25rem;
 }
 
.text-center button::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(211, 173, 173);
      transform: translate(100%);
      transition: all .5s linear;
      width: 100%;
      height: 100%;
  }
  .text-center button:hover:before{
      transform: translate(0);
      z-index: -1;
  }
  .text-center button:hover{
      color: #fff;
     
  }
  .main{
      background: #D4D1CE;
  }
  .info-div h6{
      font-size: 1.3rem;
  }
  .main h1{
      color: var(--navcolor);
     
    
    font-weight: bolder;
    text-align: left;
    display: inline-block;
    border-bottom: .2rem solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    word-spacing: 1rem;
    
  }
  .main h3{
      color: #e4ad14;
      font-family: 'Stint Ultra Condensed', cursive;
      font-weight: bold;
      font-size: 2rem;
      word-spacing: .2rem;
  }
  .main p{
      color: #444a4e;
      text-align: left;
      line-height: 1.8rem;
      
      font-family: roboto;
  }
  .justify{
    margin-top: 7rem;
  }
  .sign-div{
      display: flex;
      justify-content: row;

  }
  .right-sign{
      background: var(--navcolor);
      color: white;
      border-radius: 50%;
     
  }
  .sign-div p{
      display: inline-block;
      margin-left: .5rem;
  }

.div-img{
    background: transparent;
    justify-content: center;
    border-color:#D4D1CE ;
}
.div-img img{
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    width: 90%;
    margin-right: 2rem;
    background: #D4D1CE;
}
.second{
    background:#fff ;
}
.cdiv img{
    width: 15rem;
    height: 15rem;
    background: rgb(85, 77, 77);
    margin-top: 5rem;
}
/* .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.size .fnt{
    line-height: 2rem;
}
.cdiv h1{
    border: none;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}
.cdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerm{
    background:wheat;
 
   
}
.card{
    border-radius: 2rem;
    margin-bottom: 3rem;
}
.container h1{
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--navcolor) !important;
    font-weight: bold;
    display: inline-block;
    margin-top: 2rem;
  
}

.card{
    
    transition: all .2s linear;
    box-shadow: .1rem .1rem .1rem .1rem gray;
    width: 18rem;
}
.card:hover{
    transform: scale(1.05);
   
}
.social{
    color: var(--navcolor) !important;
    border-radius: 2rem;
    transform: scale(1.4);
}
.btn-div{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 5rem;
}
.btn-div button{
    margin-left: 7rem;
    border: none;
    outline: none;
   
}
.btn-icon{
    transform: scale(2.5);
}

.menu-item{
    display: flex;
    flex-direction: row;
}
.info-div{
    margin-left: 3rem;
}
.div-btn-1{
    display: flex;
    flex-direction: column;
}
.div-contact{
    display: flex;
    flex-direction: row;
}
.div1{
    display: flex;
}
.div2{
    margin-left: .9rem;
}
.kochu h2 {
    color: white;
}
::placeholder{
   
    color: var(--navcolor);
    display: inline-block;
  
}
.last-in .input{
    height: 2rem;
    padding: 1.5rem;
}
@media (max-width:1200px){

    html{
        font-size: 85%;
    }

    .navdiv ul li{
        margin-left:0px;
    }
    .text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;
    }
    .text-center button {
        background: var(--navcolor);
        width: 9rem;
        height: 4rem;
        color: white;
        border: none;
        outline: none;
        border-radius: 3rem;
        margin: 2rem 0 2.5rem 20rem;
        position: relative;
        overflow: hidden;
        transition: all .5s linear;
        z-index: 1;
        font-weight: bold;
        font-size: 1.4rem;
    }
    .img-div img {
        border-color: initial;
        outline-color: initial;
        width: 30rem;
        height: 30rem;
    }
    img {
        vertical-align: middle;
        border-style: none;
        width: 25rem;
        /* height: 25rem; */
    }
    /* .col-4 img{
        height: 10rem;
        width: 30rem;
    } */
    .menu-item img {
        width: 10rem;
    }
    .cdiv img {
        width: 15rem;
        height: 15rem;
        background: rgb(85, 77, 77);
        margin-top: 3rem;
    }
}

@media (max-width:992px){

    htm{
        font-size: 65%;
    }
    .navdiv ul li{
        margin-left:0px;
    }
    .text-center h1 {
        font-size: 3rem;
        font-family: 'Oswald', sans-serif;
        color: var(--navcolor);
    }
    .text-center button {
        background: var(--navcolor);
        width: 9rem;
        height: 4rem;
        color: white;
        border: none;
        outline: none;
        border-radius: 3rem;
        margin: 2rem 0 0 15rem;
        position: relative;
        overflow: hidden;
        transition: all .5s linear;
        z-index: 1;
        font-weight: bold;
        font-size: 1.4rem;
    }
  .card{
      width: 16rem;
  }
  img {
    vertical-align: middle;
    border-style: none;
    width: 18rem;
    /* height: 25rem; */
}
}
@media (max-width:850px){
    htm{
        font-size: 60%;
    }
    body{
        overflow-x: hidden;
    }
    .logo-div {
       left: 7rem;
    }
  
    .main h1 {
        color: var(--navcolor);
        font-weight: bolder;
        text-align: left;
        display: inline-block;
        border-bottom: .2rem solid black;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        word-spacing: 1rem;
        margin-left: 2rem;
    }
}
@media (max-width:768px){

    html{
        font-size: 60%;
    }
    .logo-div .logo{
        font-size: 2rem;
        font-family: robot;
    }
    .logo-div .icon{
        transform: scale(1.5);
    }
    body{
        overflow-x: hidden;
    }
    .navdiv ul li{
        margin-left:.2rem;
    }
    .navdiv ul {
      margin-right: 5rem;
    }
    .navdiv ul li a{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .text-center h1 {
        font-size: 3rem;
        font-family: 'Oswald', sans-serif;
        color: var(--navcolor);
    }
    .text-center h4 {
        color: rgb(24, 26, 27);
        font-size: 2rem;
    }
    .text-center button {
        background: var(--navcolor);
        width: 9rem;
        height: 4rem;
        color: white;
        border: none;
        outline: none;
        border-radius: 3rem;
        margin: 5rem 0 2.5rem 15rem;
        position: relative;
        overflow: hidden;
        transition: all .5s linear;
        z-index: 1;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .img-div img {
        border-color: initial;
        outline-color: initial;
        width: 25rem;
        height: 25rem;
        margin-top: 8rem;
    }
    .text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5rem;
    }
    .about-first-img img{
        width: 45rem;
        margin-left: 15rem;
    }
    .main h1 {
        
        margin-left: 2rem;
    }
    .main h3{
       font-size: 2.5rem;
        margin-left: 1rem;
    }
    .main .pera {
        font-size: 1.8rem;
        margin-left: 2rem;
        margin-top: 3rem;
        line-height: 3rem;
        word-spacing: .2rem;
    }
    .sign-div p{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .right-sign{
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .cdiv h1{
        font-size: 3rem;
    }
    .cdiv p{
        font-size: 1.5rem;
    }
    .container .chief{
        display: inline-block;
        margin-left: 20rem;
    }
   
     .fnt{
        font-size: 1.1rem;
        line-height: 2rem;
    }
    .crd {
       
        margin-left: 3.5rem;
    }
    .crd .card{
        width: 35rem;
        margin-left: 6rem;
    }
    .container .chief{
        display: inline-block;
        margin-right: 10rem;
    }
    .card-body h5{
        font-size: 1.8rem;
    }
    .card-body h6{
        font-size: 1.6rem;
    }
    .disp{
        display: none;
    }
    .info-div h6{
        font-size: 1.8rem;
    }
    .location{
        margin-top: 5rem;
    }
    .div2 h5{
      font-size: 2rem;
    }
    .div2 h6{
        font-size: 1.5rem;
      }
      .form-row .form-control{
          padding: 1.1rem;
      }
      .form-row .label{
          font-size: 1.5rem;
      }
}
@media(max-width:610px){
    .navdiv ul {
        margin-right: 1rem;
      }
    .logo-div .logo{
        font-size: 1.5rem;
        font-family: robot;
    }
    .logo-div .icon{
        transform: scale(1.5);
    }
   
}
@media(max-width:575px){
    html{
        font-size: 60%;
    }
    body{
        overflow-x: hidden;
    }
    .navdiv ul li a{
 
        font-size: 1.3rem;
    }
    .about-first-img img{
        width: 35rem;
        margin-left: 15rem;
    }
    .img-div img {
        border-color: initial;
        outline-color: initial;
        width: 20rem;
        height: 25rem;
        margin-top: 8rem;
    }
    .crd {
       
        margin-left: 3.5rem;
    }
    .crd .card{
        width: 27rem;
        margin-left: 8rem;
    }
    .container .chief{
        display: inline-block;
        margin-right: 10rem;
    }
}
@media (max-width:500px){
    body{
        overflow-x: hidden;
    }
    .img-div img {
        border-color: initial;
        outline-color: initial;
        width: 17.5rem;
        height: 17.5rem;
        margin-top: 8rem;
    }
    .about-first-img img{
        
        max-width: 28rem;

    }
    .size .fnt{
        line-height: 1.5rem;
        font-size: 1.2rem;
        word-spacing: .2rem;
    }
    .fnt{
        line-height: 1.5rem;
    }
    .navdiv ul li a{
 
        font-size: 1rem;
    }
     .logo-div{
     margin-left: -5rem;
      font-size: 1rem;
    }
    .container .chief{
        font-size: 2.3rem;
        display: inline-block;
        margin-left: 14rem;
    }
    .crd {
        margin-left: 1rem;
    }
    .last-in .input{
        height: -1rem;
    }
}
@media (max-width:450px){

    .last-in .input {
       
        padding: .1rem;
        height: 3rem;
    }
    .size .fnt{
        line-height: 1.4rem;
        font-size: 1rem;
        word-spacing: rem;
    }
}
@media (max-width:395px){
    .img-div img {
        border-color: initial;
        outline-color: initial;
        width: 15rem;
        height: 17rem;
        margin-top: 8rem;
    }
    .grc .main-desc{
        
            font-size: 1.6rem;
        
    }
    .grc .heading{
        font-size: 2.4rem;
    }
    .about-first-img img {
        width: 20rem;
        margin-left: 8.4rem;
    }
    .container .chief{
        font-size: 2rem;
        display: inline-block;
        margin-left: 10rem;
    }
    .crd {
        margin-left: -4rem;
        margin-top: 2rem;
    }
    .text-center button {
        background: var(--navcolor);
        width: 9rem;
        height: 4rem;
        color: white;
        border: none;
        outline: none;
        border-radius: 3rem;
        margin: 1rem 0 2.5rem 5rem;
        position: relative;
        overflow: hidden;
        transition: all .5s linear;
        z-index: 1;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .nav{
       
       
        padding: .5rem;
        
    }
    .navdiv ul li a{
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        font-family: roboto;
    }

    .navdiv ul {
        margin-left:3rem;
    }

    .logo-div{
        position: absolute;
        display: flex;
        flex-direction: row;
        left: 6rem;
       
    }
    .logo-div .logo{
        font-size: 1.3rem;
    }
    .logo-div .icon{
        font-size: 1.3rem;
    }
    .last-in .input {
        padding: .1rem;
        height: 3rem;
        width: 100%;
    }
}
@media (max-width:320px){
    .nav{
       
       
        padding: .7rem;
        
    }
    .logo-div{
        position: absolute;
        display: flex;
        flex-direction: row;
        left: 5.5rem;
       top: .6rem;
      
       
    }
    .navdiv ul li a{
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        font-family: roboto;
        padding: .9rem;
    }
    .logo-div .logo{
        font-size: 1.1rem;
    }
    .logo-div .icon{
        font-size: 1.1rem;
    }
    .img-div img {
        border-color: initial;
        outline-color: initial;
        width: 13rem;
        height: 13rem;
        margin-top: 8rem;
    }
    .grc .heading {
        font-size: 2rem;
    }
    .grc .main-desc {
        font-size: 1.5rem;
        word-spacing: .4rem;
    }
    .text-center h4 {
        color: rgb(24, 26, 27);
        font-size: 1.5rem;
    }
    .main .pera {
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-top: 3rem;
        line-height: 2.2rem;
        word-spacing: .2rem;
    }
    .crd {
        margin-left: -7rem;
        margin-top: 2rem;
    }
    .div-btn-1 {
        display: flex;
        flex-direction: column;
        margin-left: -2rem;
    }
   .location .div-contact .hide{
        display: none;
    }
    .size .fnt {
        line-height: 1.3rem;
        font-size: 1rem;
        word-spacing: rem;
    }
   .container .small {
       margin-top: .7rem;
    }
    .container .chief {
        font-size: 1.3rem;
        display: inline-block;
        margin-left: 10rem;
    }
    .small h2{
        font-size: 1.5rem;
    }
}